<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chirp</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap-lumen.css'/>
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-resource.min.js"></script>
    <script src="javascripts/angular-route.js"></script>
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.js"></script>
    <script src="javascripts/app.js"></script>
</head>
<body>

<nav class="navbar navbar-default" ng-controller="NavbarController as navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" target="_self">Issue Tracker</a>
        </div>

        <p class="navbar-text"><a href="/">Open Issues</a></p>
        <p class="navbar-text"><a href="/closed">Closed Issues</a></p>

        <ul class="nav navbar-nav navbar-right">
            <li ng-show="!navbar.isLoggedIn"><a href="/login">Login</a></li>
            <li ng-show="!navbar.isLoggedIn"><a href="/register">Register</a></li>
            <li class="dropdown" ng-show="navbar.isLoggedIn">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Welcome, {{navbar.userName}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/account/logout" target="_self">Logout</a></li>
                </ul>
            </li>

        </ul>

    </div>
</nav>
<div class="container">
    <div ng-view></div>
</div>

</body>
</html>
