<div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal">

        <label class="column col-md-2">Issue</label>

        <div class="column col-md-8">
            <input type="text" name="body" class="form-control" ng-model="tweet.postObjectTweet.body"/>
        </div>

        <div class="column col-md-2">
            <button class="btn btn-primary" ng-click="tweet.postTweet()">Submit</button>
        </div>


    </form>
    <div class="column col-md-12">
        <p class="text-danger" ng-bind="tweet.postErrorMessage">Hey there</p>
    </div>

</div>
<br><br>

<div class="row">
    <br>

    <div ng-repeat="tweetItem in tweet.tweets" class="col-md-6 col-md-offset-3">

        <div class="panel panel-default" ng-show="tweet.showTweetFlag[$index]">
            <div class="panel-heading">@{{tweetItem.title}}</div>
            <div class="panel-body">
                {{tweetItem.body}}

                <br><br>

                <div class="column col-md-12">
                    <input type="button" ng-click="tweet.changeEditFormVisibility($index)" value="Edit"
                           class="btn btn-default btn-sm" ng-if="tweetItem._creator === user.id">
                    <input type="button" ng-click="tweet.deleteTweet($index)" value="Delete"
                           class="btn btn-sm btn-default" ng-if="tweetItem._creator === user.id">
                    <a ng-href="{{'/' + tweetItem._id}}"
                       class="btn btn-sm btn-default"> Show </a>
                </div>
                <br>
                <br>

                <div>&nbsp;</div>
                <div class="column col-md-12" ng-show="tweet.showEditForm[$index]">

                    <span class="column col-md-1">Issue&nbsp;&nbsp; &nbsp;</span>

                    <div class="column col-md-8">
                        <input type="text" name="body" class="form-control"
                               ng-model="tweetItem.body"/>
                    </div>

                    <div class="column col-md-2">
                        <button class="btn btn-primary btn-sm" ng-click="tweet.updateTweet($index)">Submit</button>
                    </div>

                    <div class="column col-md-12">
                        <p class="text-danger" ng-bind="tweet.updateErrorMessage[$index]">Hey there</p>
                    </div>


                </div>

            </div>


        </div>
    </div>
</div>
