<div class="column col-md-6 col-md-offset-3">
    <fieldset>
        <legend>Legend</legend>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>

            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Username"
                       ng-model="login.loginObject.username">
            </div>
        </div>
        <br>

        <p>&nbsp;</p>

        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>

            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                       ng-model="login.loginObject.password">
            </div>
        </div>

        <p ng-hide="login.errorMesage">&nbsp;</p>
        <p ng-bind="login.errorMesage" class="text-danger"></p>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary" ng-click="login.doLogin()">Submit</button>
            </div>
        </div>
    </fieldset>
</div>
